<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spin</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => :false %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => :false  %>
</head>

<body data-ma-theme="orange">

  <%= render partial: 'core/header' %>

  <section id="main" data-layout="layout-1">
    <%= yield %>
  </section>

  <%= render partial: 'core/footer' %>

  <%= yield :modal %>

  <%= yield :body_end %>


</body>
</html>
