<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield :title %></title>

  <!-- CSS -->
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => :false %>
  <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => :false %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900' rel='stylesheet' type='text/css'>
</head>

<body data-ma-theme="orange">

  <%= yield %>

  <!-- Javascript Libraries -->

  <%= yield :body_end %>


  <script>
    $(document).ready(function(){

      <% if flash[:notice].present? %>
      notify('<%= flash[:notice] %>', 'info');
      <% end %>

      <% if flash[:success].present? %>
      notify('<%= flash[:success] %>', 'success');
      <% end %>

      <% if flash[:error].present? %>
      notify('<%= flash[:error] %>', 'danger');
      <% end %>

    });
  </script>


</body>
</html>
